.PageTitle {
  font-size: 60px;
  color: var(--white);
  // position: absolute;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .pageName {
    text-align: center;
    width: calc(100% - 120px);
  }
  button {
    width: 120px;
    margin-right: 20px;
  }
}
