.settingClass {
  display: flex;
  justify-content: center;

  align-items: center;
  margin-left: 172px;
  height: 60%;

  margin-block: 100px;
  .button_settings {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    button {
      width: 250px;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }
}
