.LandingPage {
  position: relative;
  .button_create {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
  }

  .alter_icon {
    justify-content: center;
    display: flex;
    .AvatarIcon {
      margin: 20px;
    }
  }
}
