.LandingPage {
  .button_create {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
  }

  .alter_icon {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .AvatarIcon {
      margin: 20px;
    }
  }
}
