.model-content {
  width: 80%;
  height: 80%;
  background-color: var(--white);
  border: 2px solid var(--primary-color);
  top: 10%;
  left: 10%;
  position: absolute;
  padding: 20px;
  background-color: var(--secondary-color);
  .closeIcon {
    position: absolute;
    top: 0;
    color: var(--primary-color);
    right: 0;
  }
}
