//CSS styles for the AvatarIcon component
.AvatarIcon {
  //styles the container for the image and sets its dimensions, padding, and border
  .img-area {
    width: 210px;
    height: 210px;
    padding: 10px;
    border: var(--primary-color) 2px solid;
    transition: transform 0.2s;
    img {
      width: 200px;
      height: 200px;
    }
  }
  //styles the container for the name and sets its border, color, margin, padding, and border-radius
  .name-area {
    border: 2px solid var(--primary-color);
    color: var(--white);
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  //styles the AvatarIcon component when it is hovered over and scales it up, as well as changing the color and background-color of the name area
  &:hover {
    transform: scale(1.2);
    .name-area {
      color: var(--white);
      background-color: var(--primary-color);
    }
  }
}
