.ChatRoom {
  color: var(--white);

  .chat-space {
    overflow: auto;
    max-height: 400px;
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .button_create {
    display: flex;
    justify-content: flex-end;
  }
}
.modal3Dmessage {
  width: 100%;
  height: 100%;
  display: flex;

  .canva {
    width: 50% !important;
  }
  .message-sec {
    width: 50%;
    .ChatSec {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 50%;
      border: 2px var(--primary-color) solid;
      margin: 10px;
      padding: 10px;
      .message-title {
        color: var(--primary-color);
        text-align: center;
        margin-bottom: 10px;
      }
      .speech-button {
        color: var(--primary-color);
        cursor: pointer;
      }
      .message-text {
        color: var(--white);
        height: 75%;
        overflow: auto;
      }
    }
    .message-send {
      height: 35%;
      border: 2px var(--primary-color) solid;
      margin: 10px;
      padding: 10px;
      .textBox {
        width: 100%;
      }
    }
  }
}
