.ChatRoom {
  color: var(--white);
  .chat-space {
    overflow: auto;
    max-height: 400px;
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
