.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 80vh;
  position: relative;
  margin-top: 20px;
  .CreateAccount {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .textBox {
    margin-bottom: 20px;
  }
  button {
    margin-top: 20px;
  }
  .broder {
    border: 3px var(--primary-color) solid;
    border-radius: 20px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
  }
  @media (max-width: 1280px) {
    height: 30%;
  }
  @media (max-width: 1024px) {
    height: 40%;
  }
  @media (max-width: 480px) {
    height: 100%;
  }
  .forgotPassword {
    cursor: pointer;
    color: var(--primary-color) solid;
  }
}
