.main-mroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.RoomChatSpace {
  display: flex;
  width: 100%;
  height: 70vh;

  .unityspace {
    width: 70%;
    height: 100%;
    position: relative;
    .Unity_Room {
      width: 100%;
      height: 100%;
      padding-right: 20px;
    }
    .altertag {
      position: absolute;
      width: 200px;
      left: calc(50% - 100px);
      top: 30px;
      background-color: var(--white);
      border: 2px solid var(--secondary-color);
      border-radius: 5px;
      padding: 5px 0;
      text-align: center;
    }
  }
  .ChatSapce {
    .message-title {
      color: var(--white);
      font-size: 25px;
      text-align: center;
      text-decoration: underline;
    }
    .message-sec {
      width: 90%;
      padding: 20px;
      .dropdown,
      .textBox {
        margin-bottom: 20px;
        width: 100%;
      }
      .message {
        color: var(--white);
        padding-bottom: 10px;
      }
      .speech-button {
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid var(--primary-color);
        width: fit-content;
        border-radius: 5px;
      }
    }
    .SpeechToText {
      flex-wrap: wrap;
    }
    width: 30%;
    overflow: auto;
    max-height: 100%;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
.sendMessageMyRoom {
  width: 450px;

  left: calc(80% - 225px);
  .semdMessageModal {
    width: 100%;
    height: 100%;
    display: flex;
    .message-sec {
      padding: 20px;
      .dropdown,
      .textBox {
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }
}
