.CreateDetails {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 20px;
  align-items: center;
  margin: auto;
  border: 3px var(--primary-color) solid;
  border-radius: 20px;
  width: 60%;
  margin-top: 20px;
  max-height: calc(100vh - 30vh);
  overflow: auto;
  .textBox,
  .dropdown {
    margin-bottom: 20px;
  }
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
